* {
	padding: 0;
	margin: 0;
}

p {
	font-size: 14px;
	text-align: justify;
	text-indent: 20px;
}

#tabs {
	width: 600px;
	padding: 15px;
	border: 1px solid grey;
	border-radius: 5px;
	margin: 0 auto;
	margin-top: 5px;
	background: #2e1127;
	font-family: Arial;
}

.tabs-menu li {
	display: inline-block;
	list-style: none;
}

.tabs-menu li a {
	display: inline-block;	
	padding: 5px 25px;
	color: #fff;
	font-size: 20px;
	text-decoration: none;
}

.tabs-content {
	height: 165px;
	padding: 15px 15px;
	background: #83465d;
	overflow: auto;
}

.active,
.active:hover,
.active:focus {
	border-radius: 2px;
	background: #83465d;
	font-weight: bold;
}

label {
    display: inline-block; 
    width: 70px;
}

form div {
    margin-bottom: 30px;
}

form {
	width: 520px;
	padding: 15px;
	margin: 0 auto;
	margin-top: 30px;
	border: 2px solid #1e391a;
	border-radius: 4px;
	background: #cedf90;
	color: #1d2f15;
	font-weight: bold;
}

.help {
	float: right;
    display: none;
	width: 240px;
    height: 30px;
    margin: -5px 5px 2px;
    padding: 5px 5px 0 5px;
    border: 1px solid #395112;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 1px #395112;
    background: #b7c656;
}

